[Unit]
Description=Hajj Detection System
After=network.target

[Service]
Type=forking
User=b006
WorkingDirectory=/home/b006/hajj-system/yolo11-guard-detection-rknn
ExecStart=/bin/bash -c 'source venv/bin/activate && nohup python kitchen_safety.py config/device/kitchen203.json &'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target