[Unit]
Description=Hajj Detection System
After=network.target

[Service]
Type=forking
User=g014
WorkingDirectory=/home/g014/hajj-system/yolo11-kitchen-rknn-python
ExecStart=/bin/bash -c 'source venv/bin/activate && nohup python kitchen_safety.py config/device/kitchen206.json &'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target